.top-stories {
    padding: 30px 0;
}

.stories__title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.stories__divider {
    margin-top: 5px;
    height: 1px;
    background-color: rgb(214, 77, 77);
    border-radius: 2px;
}
.top-stories__items {
    margin-top: 15px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-item {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.main-item__img {
    display: block;
    width: 520px;
    height: 100%;
    object-fit: cover;
}
.main-item__descr {
    width: 50%;
    border-bottom: 2px solid rgb(214, 77, 77);
}
.main-item__category {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(56, 31, 156);
}
.main-item__title {
    margin-top: 20px;
    width: 75%;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.53;
}
.main-item__text {
    margin-top: 15px;
    width: 75%;
    font-size: 16px;
    font-weight: 400;
}
.main-item__date {
    margin: 30px 0;
    color: #9e9e9e;
}
.top-stories__cards {
    margin-top: 30px;
}
.stories-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px 20px;
}
.stories-card {
    width: 240px;
}
.stories-card__img {
    width: 100%;
    object-fit: cover;
}
.stories-card__category {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(56, 31, 156);
}
.stories-card__title {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
}
.stories-card__date {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 400;
    color: #9e9e9e;
}
.top-stories__btn {
    
}
.btn__load-more {
    display: block;
    margin: 40px auto 0 auto;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase;
}
