.header__top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 60px;
}
.header__logo {
    margin-right: 15px;
    font-weight: 700;
}
.header__logo span {
    color: red;
}
.header__nav {
    padding-top: 7px;
}
.header__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-item:not(:last-child) {
    margin-right: 10px;
}
.header__nav-link {
    font-size: 18px;
    font-weight: 400;
    color: #9e9e9e;
}
.header__user {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
}
.header__user-account {
    display: block;
    width: 25px;
    height: 25px;

}
.header__search {
    display: block;
    width: 25px;
    height: 25px;
}