.header__bottom {
    display: flex;
    align-items: center;
    min-height: 60px;
}
.header__categories {
    display: flex;
    align-items: center;
    column-gap: 10px;
    
}
.header__categories-link {
    text-transform: uppercase;
    font-weight: 500;
}
